/* Home */
.home{
  width: 100%;
  height: 100vh;
}

.banner{
  width: 100%;
  height: calc(100vh - 80px);
}

.bn-text{
  display: block;
  z-index: 2;
  width: 700px;
  padding: 20px;
  text-align: center;
  height: 380px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.heading-div{
  background: rgba(38, 124, 110, 0.9);
  padding: 20px;
  border: 3px solid rgb(25, 107, 93);
  border-radius: 10px;
}

.text-div{
  background: #fafafa;
  padding: 20px;
  border: 3px solid rgb(25, 107, 93);
  border-radius: 0 0 10px 10px;
}

.bn-text p{
  margin: 0;
  margin-bottom: 20px;
  font-size: 1.5rem;
  text-align: left;
}

.heading-small{
  font-size: 2.5rem;
  font-weight: 300;
  color: white;
}

#heading-smaller{
  font-size: 2rem;
}

#heading-smallest{
  font-size: 1.3rem;
}

.heading-big{
  font-size: 3rem;
  color: white;
  margin-top: 10px;

}

.heading-big-2{
  font-size: 2rem;
  color: white;
  margin-top: 10px;
}

.heading-big-3{
  font-size: 2rem;
  color: white;
  margin-top: 10px;

}

.contact-div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-div{
  position: relative;
  width: 100%;
  height: 100%;
}
/* Media query */
@media screen and (max-width: 800px) {
  
}

@media screen and (max-width: 450px) {
  .bn-text{
    width: 100%;
    padding: 0;
  }

  .heading-big{
    font-size: 1.5rem;
  }

  .heading-big-2{
    font-size: 1.5rem;
  }

  .heading-big-3{
    font-size: 1.2rem;
  }

  .heading-small{
    font-size: 1rem;
  }

  #heading-smaller{
    font-size: 1.2rem;
  }

  #heading-smallest{
    font-size: 1.2rem;
  }

}
