.kontakt-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.story-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.kontakt-div{
    padding: 30px;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    padding: 30px 0;

}

.info-wrapper{
    width: 100%;
    height: 100%;
    background: url('./assets/trucks.jpeg');
    display: flex;
    margin: auto;
    background-size: cover;
    position: relative;
}

.info-wrapper::after{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    bottom:0;
    right: 0;
    background: rgba(200, 200, 200, .87);
    z-index: 1;
}

.info-div{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    z-index: 2;
}

.contact-section{
    display: grid;
    grid-gap:30px;
  }
  
  .contact-block-item {
    display: flex;
    grid-template-columns: 1fr 10fr;
    align-items: center;
  }
  .contact-block-item h2 {
   font-size: 1.3rem;
   font-weight: 300;
   margin-left: 10px;
  }
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .tr-quote{
     margin-bottom: 30px;
  }

  .tr-quote h2{
    margin-bottom: 15px;
 }

 .icon path{
    fill: #125d7a !important
 }

 .copyright{
     padding: 20px;
     background-color: #222;
     margin: 0;
     margin-top: -5px;
     color: white;
 }


 @media screen and (max-width: 800px) {
    .kontakt-wrapper{
        grid-template-columns:  1fr;
    }

    .info-wrapper {
        padding: 30px 0;
    }
}

@media screen and (max-width: 450px) {
 
    .contact-block-item h2{
        font-size: 1rem;
    }
    .story-wrapper{
        grid-template-columns: 1fr;
    }
}